<launch>
    <include file="$(find path_planning)/launch/dynamic_call/dynamic_gazebo_map_rviz.launch">
      <arg name="rviz_config" value="time_test"/>
    </include>
    <include file="$(find path_planning)/launch/dynamic_call/dynamic_spawn.launch"/>
    <node name="path_server_global_planner" pkg="path_planning" type="path_server_global_planner" output="screen" >
      <rosparam file="$(find path_planning)/config/test/costmap_example.yaml" command="load" ns="costmap" />
    </node>
    <node name="time_server" pkg="path_planning" type="time_server" output="screen"/>
</launch>